*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: black;
    color:aquamarine;
    text-align: center;
    padding: 25px;
}
.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.scores{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 50px;
    padding: 30px;
}
.score{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border:none;
    margin-top: 50px;
    margin-right: 25px;
}
p{
    font-size: 30px;
}
#btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
#button{
    margin-top: 100px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    border-radius: 10px;
    background-color: black;
    color: azure;
}
#button:hover{
    cursor: pointer;
    background-color: aquamarine;
    color: black;
    height: 75px;
    width: 250px;
    font-size: 25px;
    transition-duration: 2s;
}
.logo{
    opacity:0.75;
}
.logo:hover{
    opacity:2;
    cursor: pointer;
}
#User,#comp{
    font-size: 40px;
    color:black
}