* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: pink;
  text-align: center;
}
#title {
  margin: 50px;
  font-size: 50px;
}
.container {
  height: 80vh;
  display: flex;
  justify-content: center;
    align-items: center;
}
.Game {
  height: 70vmin;
  width: 70vmin;
  display: flexbox;
  flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
    margin: auto;
}
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  font-size: 10vmin;
  color: black;
}
#reset{
    color: blue;
    background-color: yellow;
    border-radius: 1rem;
    border: none;
    height: 50px;
    width: 200px;
    font-size: 20px;
    padding: 10px;
}