*{
    margin: 0;
    padding: 0;
}
.conatiner{
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}
.box{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 400px;
    background-color: aqua;
    position: relative;
    left: 400px;
}
h1{
    display: flex;
    text-align: center;
    justify-content: start;
    position: relative;
    top: 30px;
    left: 20px;
}
#weight{
    width: 300px;
    height: 30px;
    position:relative;
    top: 100px;
    left: 200px;
    border-radius: 7px;
}
#height{
    width: 300px;
    height: 30px;
    position:relative;
    top: 110px;
    left: 200px;
    border-radius: 7px;
}
button{
    width: 200px;
    height: 30px;
    position:relative;
    top: 120px;
    left: 250px;
    border-radius: 7px;
    background-color: orangered;
    padding: 10 px;
}
button:hover{
    width:230px;
    height: 35px;
}