/* Basic Reset and Box Sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
#logo{
    width: 600px;
    height: auto;
    position: absolute;
    left: -20px;
    top: 10px;
    margin-right: 0px;
    border-color: black;
}
.item{
    display: flex;
    gap: 50px;
    list-style: none;
    padding: 0;
    position: absolute;
    right: 30px;
    top: 50px;
    margin: 0;
    font-size: 25px;
    color: red;
}
li{
    cursor: pointer;
    border: 2px solid red;
    padding: 5px 15px;
    border-radius: 20px;
    color:white;
    background-color: red;
}
li:hover{
    background-color: white;
    color: red;
    transition: 0.3s;
}
.text{
    color: red;
    width: 600px;
    height: 300px;
    background-color: white;
    position: absolute;
    left: 50px;
    top:250px;
}
.text h1{
    font-size: 100px;
    padding: 20px;
}
#map{
    width: 800px;
    height: auto;
    position: absolute;
    left: 700px;
    top: 230px;
    z-index: -1;
}
.firstpage{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#pro{
    font-size: 50px;
    color: red;
    position: absolute;
    left: 50px;
    top: 900px;
}
#prod{
    position: absolute;
    left: 120px;
    top: 900px;
    color: red;
    font-size: 60px;
}
.products{
    width: 100%;
    height: auto;
    position: absolute;
    top: 1000px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-around
}
.product1, .product2, .product3, .product4{
    width: 300px;
    height: 400px;
    border: 2px solid black;
    border-radius: 20px;
    text-align: baseline;
}
.product1 img, .product2 img, .product3 img, .product4 img{
    width: 250px;
    margin-left: 25px;
    height: auto;
    border-radius: 20px;
}
.product1 h3, .product2 h3, .product3 h3, .product4 h3{
    font-size: 30px;
    color: red;
    margin-left: 10px;
    margin-top: 10px;
}
.product1 p, .product2 p, .product3 p, .product4 p{
    font-size: 15px;
    padding: 10px;
}
.product1 button, .product2 button, .product3 button, .product4 button{
    font-size: 15px;
    padding: 5px 10px;
    border: 2px solid red;
    border-radius: 20px;
    background-color: red;
    color: white;
    cursor: pointer;
    margin-left: 20px;
}
.product1 button:hover, .product2 button:hover, .product3 button:hover, .product4 button:hover{
    background-color: white;
    color: red;
    transition: 0.3s;
}
.models{
    position: absolute;
    left: 50px;
    top: 1500px;
    width: 100%;
}
#linemodel{
    width: 100%;
    height: auto;
    position: absolute;
    top: 1500px;
}
#model{
    font-size: 60px;
    color: red;
    margin-left: 70px;
    margin-top: 30px;
}
#wrench{
    font-size: 50px;
    color: red;
    position: relative;
    margin-right: 10px;
    left: 10px;
    top: 85px
}
.mod{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    background-color: beige;
    width: 100%;
    height: auto;
    border: 2px solid black;
} 